:root{
    --bg-primary:#3E63A9;
    --text-primary:#3E63A9;
    --bg-secondary:#00B6A2;
    --text-secondary:#00B6A2;
    --text-secondary-light:#30D77B;
    --text-warning:#ffc107;
    --bg-orange:#F68625;
    --text-orange:#F68625;
    --bg-gray-200:#e2e8f0;
}   