body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 70%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width:768px){
  html{
    font-size: 70%;
  }
}